header {
    width: 100%;
}
body {
    background: #1A1A1B;
}
.logo-item1 {
position: absolute;
width: 92px;
height: 24px;
left: 123px;
top: 50.32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 140.6%;
/* identical to box height, or 24px */

letter-spacing: 0.31em;

color: #FFFFFF;

transform: rotate(-0.19deg);
text-emphasis: none;
}
.logo-item-2 {
position: absolute;
width: 85px;
height: 56px;
left: 124px;
top: 60.24px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 140.6%;
/* or 56px */

letter-spacing: -0.115em;

color: #FFFFFF;

transform: rotate(-0.19deg);
text-emphasis: none;
}
.Main {
position: absolute;
left: 25%;
top: 50px;
bottom: 98.19%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
.Why-Us {
position: absolute;
left: 35%;
top: 50px;
bottom: 98.21%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
.Contacts {
    position: absolute;
left: 50%;
top: 50px;
bottom: 98.21%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;

}
.order {
    position: absolute;
    width: 183px;
    height: 56px;
    left: 70%;
    top: 40px;
    color: white;
    background: rgba(46, 236, 197, 0.1);
    border: 1.5px solid #2EECC5;
    border-radius: 49px;
    
}
.man {
position: absolute;
left: 60%;
top: 25%;
bottom: 78.49%;
width: 463px;
height: 644px;
}
.main-text1 {
    position: absolute;
    width: 900px;
    height: 79px;
    left: 123px;
    top: 335px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 79px;
    color: #2EECC5;
}
.main-text2 {
position: absolute;
width: 700px;
height: 54px;
left: 125px;
top: 430px;
color: #2EECC5;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 54px;
}